@keyframes expand-space {
    from {
        max-height: 0;
        margin-bottom: 0;
    }
    to {
        max-height: 500px;
        margin-bottom: 32px;
    }
}

@keyframes pop-out {
    from {
        opacity: 0;
        transform: translateY(-16px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.inline-animate {
    animation:
        expand-space 0.4s both,
        pop-out 0.8s 0.2s both;
}
.inline-animate2 {
    animation:
        expand-space 0.4s both,
        pop-out 0.8s 0.4s both;
}
